.users-section {
  padding: 6.4rem 8rem;
}

.users-section h2 {
  font-size: 1.4rem;
  color: #767676;
  font-weight: 500;

  margin-bottom: 6.4rem;
}

.users-list {
  list-style: none;
  margin: 0 auto;
  width: 80%;
  max-width: 100rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6.4rem;
}

@media (max-width: 1024px) {
  .users-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 384px) {
  .users-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
