.sectionFeatures {
  height: 45vh;
  padding: 12.8rem;

  position: relative;
}

/*
.featureIcon {
  font-size: 2.4rem;

}

.featureTitle {
  font-size: 0.8rem;
  
  font-weight: 600;
}

.featureText {
  font-size: 0.4rem;

}

*/
.featureIcon {
  font-size: 4.4rem;
  color: #333;
}

.featureTitle {
  font-size: 1.8rem;
  color: #333;
  font-weight: 600;
}

.featureText {
  font-size: 1.4rem;
  color: #555;
}

.scrollDown {
  position: absolute;
  top: 100%;
  left: 50%;
  /* transform: translate(0, -4rem); */
  transform: translate(-50%, -100%);
}

.scrollDown svg {
  font-size: 2.4rem;
  color: #767676;
}

@media (max-width: 64em) {
  .sectionFeatures {
    padding: 11.2rem;

    gap: 4.8rem;
  }
}

@media (max-width: 48em) {
  .sectionFeatures {
    padding: 8rem 6.4rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8rem;
    row-gap: 6.4rem;
  }

  .scrollDown {
    display: none;
  }
}
