.snaps-list {
  list-style: none;
  margin: 0 auto;
  padding: 4rem;
  width: 80%;
  max-width: 100rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

@media (max-width: 1024px) {
  .snaps-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 384px) {
  .snaps-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
