

@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,600,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
}

input,
textarea,
button {
  font-family: inherit;
}

body {
  display: block;
  background: #fafafa;
}

@media (max-width: 48em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 24em) {
  html {
    font-size: 50%;
  }
}

.center-text {
  text-align: center;
}

.center-flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-data-found {
  padding: 12.8rem;
  font-weight: 700;
  font-size: 2.4rem;
  color: #333;
}

.tiny-gap {
  gap: 0.8rem;
}
.extra-small-gap {
  gap: 1.6rem;
}
.small-gap {
  gap: 2.4rem;
}
.medium-gap {
  gap: 4.8rem;
}
.large-gap {
  gap: 9.6rem;
}


.slide-in-right-enter {
  transform: translateX(100%);
}

.slide-in-right-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.slide-in-right-exit {
  transform: translateX(0);
  opacity: 1;
}

.slide-in-right-exit-active {
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
