/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Tiny: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
-0.75px

--- 02 COLORS
*palette link: https://flatuicolors.com/palette/us

- Primary: #e67e22
- Tints:
#fdf2e9
#fae5d3
#eb984e

- Shades: 
#cf711f
#45260a

- Accents:
- Greys
#fafafa (body background)

#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
font color: #333

- Button Inverse
#636e72
- Button Diable
#ccc (background and border color)
- Button Danger
#ff7675 (background and border color)

--- 05 SHADOWS

Card: 0 7px 30px -10px rgba(150, 170, 180, 0.4);
Card:hover: 0 7px 30px -10px rgba(150, 170, 180, 0.9);

--- 06 BORDER-RADIUS
Small: 6px || 0.6rem
Default: 9px
Medium: 11px


--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 112 / 128

--- 08 RESPONSIVE 
- Web 1024px: 64em
- Tablet 768px: 48em 
- Mobile 384px: 24em
*/

@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,600,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
}

input,
textarea,
button {
  font-family: inherit;
}

body {
  display: block;
  background: #fafafa;
}

@media (max-width: 48em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 24em) {
  html {
    font-size: 50%;
  }
}

/* HELPER/SETTINGS CLASSES */
.center-text {
  text-align: center;
}

.center-flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-data-found {
  padding: 12.8rem;
  font-weight: 700;
  font-size: 2.4rem;
  color: #333;
}

.tiny-gap {
  gap: 0.8rem;
}
.extra-small-gap {
  gap: 1.6rem;
}
.small-gap {
  gap: 2.4rem;
}
.medium-gap {
  gap: 4.8rem;
}
.large-gap {
  gap: 9.6rem;
}

/* CSS TRANSITIONS */

.slide-in-right-enter {
  transform: translateX(100%);
}

.slide-in-right-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.slide-in-right-exit {
  transform: translateX(0);
  opacity: 1;
}

.slide-in-right-exit-active {
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
